<a href="https://colab.research.google.com/github/sasikalarajagopal25-pixel/Python-Assignments/blob/main/python_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. List Creation:

a.Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

In [ ]:
age_list = [24,25,26,27,28]
print(age_list)

[24, 25, 26, 27, 28]

b.Create a list named name_list with five string elements.

In [ ]:
name_list = ["Anu","Diya","prabhu","Raja","Mani"]
print(name_list)

['Anu', 'Diya', 'prabhu', 'Raja', 'Mani']

# 2. List Operations / Modifications:

a. Append the string "Yazhini" to name_list.

In [ ]:
name_list.append("Yazhini")
print(name_list)

['Anu', 'Diya', 'prabhu', 'Raja', 'Mani', 'Yazhini']

b. Insert the element 30 at index 2 in age_list.

In [ ]:
age_list.insert(2,30)
print(age_list)

[24, 25, 30, 26, 27, 28]

c. Remove the string "Yazhini" from name_list.

In [ ]:
name_list.remove("Yazhini")
print(name_list)

['Anu', 'Diya', 'prabhu', 'Raja', 'Mani']

d. Pop the last element from age_list.

In [ ]:
age_list.pop()
print(age_list)

[24, 25, 30, 26, 27]

e. Extend the age_list with additional ages [29, 30, 26].

In [ ]:
age_list.extend([29,30,26])
print(age_list)

[24, 25, 30, 26, 27, 29, 30, 26]

f. Sort age_list in descending order.

In [ ]:
age_list.sort(reverse=True)
print(age_list)

[30, 30, 29, 27, 26, 26, 25, 24]

g. Find Max age, Min age and sum of all ages from age_list.

In [ ]:
print(max(age_list))   # maximum age_list

30

In [ ]:
print(min(age_list))   # minimum age_list

24

In [ ]:
print(sum(age_list))   # sum of age_list

217

# 3. Accessing List Elements:

a. Print the first element of name_list.

In [ ]:
name_list[0]

'Anu'

b. Print the last element of name_list.

In [ ]:
name_list[4]

'Mani'

c. Print the elements from index 2 to index 4 in name_list.

In [ ]:
name_list[2:5]

['prabhu', 'Raja', 'Mani']

d. Print the elements of name_list in reverse order.

In [ ]:
name_list[::-1]

['Mani', 'Raja', 'prabhu', 'Diya', 'Anu']

# **Dictionary (Creation, Modification and Access)**

a. Create a dictionary named student_marks that maps the names of five
students to their marks (use scale of from 0 to 100)

In [ ]:
student_marks= {"Anu":95,"Diya":97,"Aadhirai":90,"Nithra":85,"Sastik":80}
print(student_marks)

{'Anu': 95, 'Diya': 97, 'Aadhirai': 90, 'Nithra': 85, 'Sastik': 80}

b. Access and print the mark of a specific student, of your choice

In [ ]:
student_marks["Anu"]
print(student_marks["Anu"])

95

c. Add a new student "Janani" with a mark of 80 to the student_marks dictionary

In [ ]:
student_marks["Janani"]=80
print(student_marks)

{'Anu': 95, 'Diya': 97, 'Aadhirai': 90, 'Nithra': 85, 'Sastik': 80, 'Janani': 80}

d. Update the mark of any one older student to 82

In [ ]:
student_marks["Sastik"]=82
print(student_marks)

{'Anu': 95, 'Diya': 97, 'Aadhirai': 90, 'Nithra': 85, 'Sastik': 82, 'Janani': 80}

e. Use the keys(), values(), and items() methods to print all keys, values, and
key-value pairs in the student_marks dictionary

In [ ]:
student_marks.keys()

dict_keys(['Anu', 'Diya', 'Aadhirai', 'Nithra', 'Sastik', 'Janani'])

In [ ]:
student_marks.values()

dict_values([95, 97, 90, 85, 82, 80])

In [ ]:
student_marks.items()

dict_items([('Anu', 95), ('Diya', 97), ('Aadhirai', 90), ('Nithra', 85), ('Sastik', 82), ('Janani', 80)])

# **Sets (Operations)**

a. Create a set called my_set with following values:    
['a','e','i','o','u','a','a','i']
Analyse the output and provide explanation for the same

In [ ]:
my_set=set( ['a','e','i','o','u','a','a','i'] )
print(my_set)

{'e', 'a', 'i', 'o', 'u'}

# **Explanations:**
1.A set is a collection that stores only unique elements.

2.Duplicate values are automatically removed.

3.'a' appears 3 times
  'i' appears 2 times

4.Only unique vowels remain.

5.Order is not guaranteed (sets are unordered).

b. Attempt to change the value of my_set[4] = 's'. If code throws an error, provide
an explanation

In [ ]:
my_set[4]='s'

TypeError: 'set' object does not support item assignment

# **Explanations:**
1.Set is unordered → no indexing.

2.No duplicates → only unique values are stored.

3.Cannot use indexing like my_set[4].

4.TypeError occurs if you try to assign by index.

5.To update → use .remove() and .add() instead.

c. Create two sets:  
set1 with values: {1, 3, 5, 7, 9}  
set2 with values: {2, 3, 5, 8, 10}

In [ ]:
set1={1,3,5,7,9}
set2={2,3,5,8,10}
print(set1)
print(set2)

{1, 3, 5, 7, 9}
{2, 3, 5, 8, 10}

d. Compute and print the union and intersection of set1 and set2

In [ ]:
set_union=set1 | set2    #union
print(set_union)

{1, 2, 3, 5, 7, 8, 9, 10}

In [ ]:
set_intersection=set1 & set2
print(set_intersection)

{3, 5}

# **Operators & Conditional Statements**

# **Performance Category Program**

1. Prompt user for Input. Score range should be from 0 to 10 (both inclusive)

In [ ]:
score = int(input("Enter the score (0 to 10): "))

if score > 10 or score < 0:
    print("Enter a valid score (0 to 10)")
else:
  print("Your score is valid")

Enter the score (0 to 10): 11
Enter a valid score (0 to 10)

2. Find the performance category based on the input score using following criteria:
a. Above Average:  Score greater than 7
b. Average: Score between 4 and 7(both inclusive)
c. Below Average: Score lesser than 4

In [ ]:
score = int(input("Enter the score (0 to 10): "))

if score > 10 or score < 0:
    print("Enter a valid score (0 to 10)")
elif score > 7:
    print("Performance category: Above Average")
elif score >= 4:
    print("Performance category: Average")
else:
    print("Performance category: Below Average")

Enter the score (0 to 10): 1
Performance category: Below Average

In [ ]:
score = int(input("Enter the score (0 to 10): "))

if score > 10 or score < 0:
    print("Enter a valid score (0 to 10)")
elif score > 7:
    print(" Above Average!,Excellent work! Your dedication and performance are highly commendable")
elif score >= 4:
    print(" Average!, Good effort! Keep practicing, there's room for improvement.")
else:
    print("Below Average!,Need to improve your performance,Consistent practice and effort will lead to better results")

Enter the score (0 to 10): 10
 Above Average!,Excellent work! Your dedication and performance are highly commendable